/* Colors 
-------------------------------------------- */
/* Breakpoints 
-------------------------------------------- */
/* Typography 
-------------------------------------------- */
/* Buttons
-------------------------------------------- */
/* Colors 
-------------------------------------------- */
/* Breakpoints 
-------------------------------------------- */
/* Typography 
-------------------------------------------- */
/* Buttons
-------------------------------------------- */
/* Colors 
-------------------------------------------- */
/* Breakpoints 
-------------------------------------------- */
/* Typography 
-------------------------------------------- */
/* Buttons
-------------------------------------------- */
/* line 3, /Users/sheadawson/Sites/compass2/themes/default/build/global/css/global.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 20, /Users/sheadawson/Sites/compass2/themes/default/node_modules/node-bourbon/node_modules/bourbon/app/assets/stylesheets/addons/_clearfix.scss */
.wrapper::after, .row::after {
  clear: both;
  content: "";
  display: table; }

/* line 11, /Users/sheadawson/Sites/compass2/themes/default/build/global/css/global.scss */
.container {
  min-height: 100%;
  overflow: hidden; }

/* line 16, /Users/sheadawson/Sites/compass2/themes/default/build/global/css/global.scss */
.wrapper {
  margin: 0 auto;
  max-width: 1024px;
  padding: 0 30px; }

/* line 24, /Users/sheadawson/Sites/compass2/themes/default/build/global/css/global.scss */
.layout {
  min-height: 300px;
  background: #e5e5e5; }

/* line 29, /Users/sheadawson/Sites/compass2/themes/default/build/global/css/global.scss */
.page {
  background: #fff; }

/* normalize.css v3.0.1 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/**
 * Remove default margin.
 */
/* line 19, /Users/sheadawson/Sites/compass2/themes/default/build/global/css/reset.scss */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
/* line 32, /Users/sheadawson/Sites/compass2/themes/default/build/global/css/reset.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
/* line 52, /Users/sheadawson/Sites/compass2/themes/default/build/global/css/reset.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 65, /Users/sheadawson/Sites/compass2/themes/default/build/global/css/reset.scss */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
/* line 75, /Users/sheadawson/Sites/compass2/themes/default/build/global/css/reset.scss */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 87, /Users/sheadawson/Sites/compass2/themes/default/build/global/css/reset.scss */
a {
  background: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 95, /Users/sheadawson/Sites/compass2/themes/default/build/global/css/reset.scss */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
/* line 107, /Users/sheadawson/Sites/compass2/themes/default/build/global/css/reset.scss */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
/* line 115, /Users/sheadawson/Sites/compass2/themes/default/build/global/css/reset.scss */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
/* line 124, /Users/sheadawson/Sites/compass2/themes/default/build/global/css/reset.scss */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
/* line 133, /Users/sheadawson/Sites/compass2/themes/default/build/global/css/reset.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
/* line 142, /Users/sheadawson/Sites/compass2/themes/default/build/global/css/reset.scss */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 151, /Users/sheadawson/Sites/compass2/themes/default/build/global/css/reset.scss */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 159, /Users/sheadawson/Sites/compass2/themes/default/build/global/css/reset.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 167, /Users/sheadawson/Sites/compass2/themes/default/build/global/css/reset.scss */
sup {
  top: -0.5em; }

/* line 171, /Users/sheadawson/Sites/compass2/themes/default/build/global/css/reset.scss */
sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
/* line 182, /Users/sheadawson/Sites/compass2/themes/default/build/global/css/reset.scss */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
/* line 190, /Users/sheadawson/Sites/compass2/themes/default/build/global/css/reset.scss */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
/* line 201, /Users/sheadawson/Sites/compass2/themes/default/build/global/css/reset.scss */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
/* line 209, /Users/sheadawson/Sites/compass2/themes/default/build/global/css/reset.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
/* line 219, /Users/sheadawson/Sites/compass2/themes/default/build/global/css/reset.scss */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
/* line 227, /Users/sheadawson/Sites/compass2/themes/default/build/global/css/reset.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
/* line 250, /Users/sheadawson/Sites/compass2/themes/default/build/global/css/reset.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
/* line 264, /Users/sheadawson/Sites/compass2/themes/default/build/global/css/reset.scss */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
/* line 275, /Users/sheadawson/Sites/compass2/themes/default/build/global/css/reset.scss */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 288, /Users/sheadawson/Sites/compass2/themes/default/build/global/css/reset.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
/* line 300, /Users/sheadawson/Sites/compass2/themes/default/build/global/css/reset.scss */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 309, /Users/sheadawson/Sites/compass2/themes/default/build/global/css/reset.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 320, /Users/sheadawson/Sites/compass2/themes/default/build/global/css/reset.scss */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
/* line 332, /Users/sheadawson/Sites/compass2/themes/default/build/global/css/reset.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
/* line 344, /Users/sheadawson/Sites/compass2/themes/default/build/global/css/reset.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 355, /Users/sheadawson/Sites/compass2/themes/default/build/global/css/reset.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
/* line 368, /Users/sheadawson/Sites/compass2/themes/default/build/global/css/reset.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
/* line 377, /Users/sheadawson/Sites/compass2/themes/default/build/global/css/reset.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 388, /Users/sheadawson/Sites/compass2/themes/default/build/global/css/reset.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
/* line 397, /Users/sheadawson/Sites/compass2/themes/default/build/global/css/reset.scss */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
/* line 406, /Users/sheadawson/Sites/compass2/themes/default/build/global/css/reset.scss */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 417, /Users/sheadawson/Sites/compass2/themes/default/build/global/css/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 422, /Users/sheadawson/Sites/compass2/themes/default/build/global/css/reset.scss */
td,
th {
  padding: 0; }

/* Colors 
-------------------------------------------- */
/* Breakpoints 
-------------------------------------------- */
/* Typography 
-------------------------------------------- */
/* Buttons
-------------------------------------------- */
/* Colors 
-------------------------------------------- */
/* Breakpoints 
-------------------------------------------- */
/* Typography 
-------------------------------------------- */
/* Buttons
-------------------------------------------- */
/* Colors 
-------------------------------------------- */
/* Breakpoints 
-------------------------------------------- */
/* Typography 
-------------------------------------------- */
/* Buttons
-------------------------------------------- */
/*
 * Paragraphs and heading base styles are managed with typecsset. See _vars.scss for settings
 */
/* line 7, /Users/sheadawson/Sites/compass2/themes/default/build/global/css/typography.scss */
html {
  font-size: 16px;
  -webkit-text-size-adjust: none;
  /* force Webkit to allow 1px font-size */ }

/* line 11, /Users/sheadawson/Sites/compass2/themes/default/build/global/css/typography.scss */
body {
  color: #333;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* Headings
-------------------------------------------- */
/* line 19, /Users/sheadawson/Sites/compass2/themes/default/build/global/css/typography.scss */
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-weight: normal;
  color: #444;
  line-height: 1.2; }

/* line 26, /Users/sheadawson/Sites/compass2/themes/default/build/global/css/typography.scss */
h1, .h1 {
  font-size: 30px;
  margin-bottom: 12px; }

/* line 27, /Users/sheadawson/Sites/compass2/themes/default/build/global/css/typography.scss */
h2, .h2 {
  font-size: 28px;
  margin-bottom: 12px; }

/* line 28, /Users/sheadawson/Sites/compass2/themes/default/build/global/css/typography.scss */
h3, .h3 {
  font-size: 20px;
  margin-bottom: 20px; }

/* line 29, /Users/sheadawson/Sites/compass2/themes/default/build/global/css/typography.scss */
h4, .h4 {
  font-size: 20px;
  margin-bottom: 20px; }

/* line 30, /Users/sheadawson/Sites/compass2/themes/default/build/global/css/typography.scss */
h5, .h5 {
  font-size: 16px;
  line-height: 1; }

/* line 31, /Users/sheadawson/Sites/compass2/themes/default/build/global/css/typography.scss */
h6, .h6 {
  font-size: 13px;
  line-height: 1; }

/* Paragraphs
-------------------------------------------- */
/* line 39, /Users/sheadawson/Sites/compass2/themes/default/build/global/css/typography.scss */
::selection,
::-moz-selection {
  background: #b80000;
  color: #fff;
  text-shadow: none; }

/* Links
-------------------------------------------- */
/* line 49, /Users/sheadawson/Sites/compass2/themes/default/build/global/css/typography.scss */
.typography a, .typography a:visited {
  color: #135165;
  text-decoration: underline; }
  /* line 52, /Users/sheadawson/Sites/compass2/themes/default/build/global/css/typography.scss */
  .typography a:hover, .typography a a:focus, .typography a:visited:hover, .typography a:visited a:focus {
    text-decoration: none;
    color: #1d7e9d; }

/* Lists
-------------------------------------------- */
/* line 61, /Users/sheadawson/Sites/compass2/themes/default/build/global/css/typography.scss */
ul, ol {
  padding: 0;
  list-style-type: none;
  margin: 0; }

/* line 69, /Users/sheadawson/Sites/compass2/themes/default/build/global/css/typography.scss */
.typography ul li {
  list-style-type: disc; }
  /* line 71, /Users/sheadawson/Sites/compass2/themes/default/build/global/css/typography.scss */
  .typography ul li li {
    list-style-type: circle; }

/* line 79, /Users/sheadawson/Sites/compass2/themes/default/build/global/css/typography.scss */
ol li {
  list-style-type: decimal; }

/* Tables
-------------------------------------------- */
/* line 88, /Users/sheadawson/Sites/compass2/themes/default/build/global/css/typography.scss */
table {
  border-collapse: collapse;
  border: 1px solid #e5e5e5;
  border-spacing: 0;
  margin: 0 0 10px 0;
  text-align: left; }

/* line 96, /Users/sheadawson/Sites/compass2/themes/default/build/global/css/typography.scss */
table tr:nth-child(even) {
  background-color: #f7f7f7; }

/* line 100, /Users/sheadawson/Sites/compass2/themes/default/build/global/css/typography.scss */
table tr.even,
table th,
thead td {
  background-color: #f7f7f7; }

/* line 106, /Users/sheadawson/Sites/compass2/themes/default/build/global/css/typography.scss */
table td,
table th {
  padding: 4px 10px;
  border: 1px solid #e5e5e5;
  vertical-align: top; }

/* line 113, /Users/sheadawson/Sites/compass2/themes/default/build/global/css/typography.scss */
table th {
  font-weight: bold; }

/* WYSIWYG EDITOR ALIGNMENT CLASSES 
-------------------------------------------- */
/* line 119, /Users/sheadawson/Sites/compass2/themes/default/build/global/css/typography.scss */
.left {
  text-align: left; }

/* line 123, /Users/sheadawson/Sites/compass2/themes/default/build/global/css/typography.scss */
.center {
  text-align: center; }

/* line 127, /Users/sheadawson/Sites/compass2/themes/default/build/global/css/typography.scss */
.right {
  text-align: right; }

/* IMAGES 
-------------------------------------------- */
/* line 134, /Users/sheadawson/Sites/compass2/themes/default/build/global/css/typography.scss */
img {
  max-width: 100%;
  height: auto; }

/* line 140, /Users/sheadawson/Sites/compass2/themes/default/build/global/css/typography.scss */
.typography img {
  max-width: 100%;
  height: auto;
  display: block; }

@media \0screen {
  /* line 148, /Users/sheadawson/Sites/compass2/themes/default/build/global/css/typography.scss */
  img {
    width: auto; } }

/* line 153, /Users/sheadawson/Sites/compass2/themes/default/build/global/css/typography.scss */
img.left {
  float: left;
  max-width: 50%;
  margin: 5px 20px 10px 0; }

/* line 159, /Users/sheadawson/Sites/compass2/themes/default/build/global/css/typography.scss */
img.right {
  float: right;
  max-width: 50%;
  /* Responsive width */
  margin: 5px 0 10px 20px; }

/* line 166, /Users/sheadawson/Sites/compass2/themes/default/build/global/css/typography.scss */
img.leftAlone {
  float: none;
  margin-right: 100%;
  margin-bottom: 10px;
  margin-bottom: 10px;
  clear: both; }

/* line 174, /Users/sheadawson/Sites/compass2/themes/default/build/global/css/typography.scss */
img.center {
  float: none;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 10px;
  clear: both; }

/* BLOCKQUOTES
-------------------------------------------- */
/* line 185, /Users/sheadawson/Sites/compass2/themes/default/build/global/css/typography.scss */
blockquote, blockquote p {
  font-size: 17px;
  line-height: 2;
  color: #777;
  font-style: italic; }

/* line 192, /Users/sheadawson/Sites/compass2/themes/default/build/global/css/typography.scss */
blockquote {
  margin-bottom: 20px;
  padding: 9px 20px 0 19px;
  border-left: 1px solid #e5e5e5; }

/* line 198, /Users/sheadawson/Sites/compass2/themes/default/build/global/css/typography.scss */
blockquote cite {
  display: block;
  font-size: 12px;
  color: #555; }

/* line 204, /Users/sheadawson/Sites/compass2/themes/default/build/global/css/typography.scss */
blockquote cite:before {
  content: "\2014 \0020"; }

/* line 205, /Users/sheadawson/Sites/compass2/themes/default/build/global/css/typography.scss */
blockquote cite a, blockquote cite a:visited, blockquote cite a:visited {
  color: #555; }

/* Pre
-------------------------------------------- */
/* line 209, /Users/sheadawson/Sites/compass2/themes/default/build/global/css/typography.scss */
pre {
  background: #f7f7f7;
  border: 1px solid #e5e5e5;
  font-family: Courier, monospace;
  margin-bottom: 20px;
  padding: 15px;
  clear: both; }

/* ADDRESS
-------------------------------------------- */
/* line 220, /Users/sheadawson/Sites/compass2/themes/default/build/global/css/typography.scss */
address {
  display: block;
  margin-bottom: 20px; }

/* HR
-------------------------------------------- */
/* line 227, /Users/sheadawson/Sites/compass2/themes/default/build/global/css/typography.scss */
hr {
  border: 0;
  height: 0;
  border-top: 1px solid #e5e5e5;
  margin: 0 0 20px; }

/* Colors 
-------------------------------------------- */
/* Breakpoints 
-------------------------------------------- */
/* Typography 
-------------------------------------------- */
/* Buttons
-------------------------------------------- */
/* Colors 
-------------------------------------------- */
/* Breakpoints 
-------------------------------------------- */
/* Typography 
-------------------------------------------- */
/* Buttons
-------------------------------------------- */
/* Colors 
-------------------------------------------- */
/* Breakpoints 
-------------------------------------------- */
/* Typography 
-------------------------------------------- */
/* Buttons
-------------------------------------------- */

/* Colors 
-------------------------------------------- */
/* Breakpoints 
-------------------------------------------- */
/* Typography 
-------------------------------------------- */
/* Buttons
-------------------------------------------- */
/* Colors 
-------------------------------------------- */
/* Breakpoints 
-------------------------------------------- */
/* Typography 
-------------------------------------------- */
/* Buttons
-------------------------------------------- */
/* Colors 
-------------------------------------------- */
/* Breakpoints 
-------------------------------------------- */
/* Typography 
-------------------------------------------- */
/* Buttons
-------------------------------------------- */
/* Form element
----------------------------------------------- */
/* line 5, /Users/sheadawson/Sites/compass2/themes/default/build/components/form/css/form.scss */
form {
  width: 100%; }

/* line 9, /Users/sheadawson/Sites/compass2/themes/default/build/components/form/css/form.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/* line 15, /Users/sheadawson/Sites/compass2/themes/default/build/components/form/css/form.scss */
div.field {
  margin: 10px 0 15px; }

/* Labels
----------------------------------------------- */
/* line 21, /Users/sheadawson/Sites/compass2/themes/default/build/components/form/css/form.scss */
form label {
  position: relative;
  margin-bottom: 5px;
  font-size: 15px; }
  /* line 25, /Users/sheadawson/Sites/compass2/themes/default/build/components/form/css/form.scss */
  form label.left {
    display: inline-block;
    font-weight: 500;
    color: #666; }
  /* line 30, /Users/sheadawson/Sites/compass2/themes/default/build/components/form/css/form.scss */
  form label.right {
    font-size: 12px;
    color: #999; }

/* Text, textarea & select inputs
----------------------------------------------- */
/* line 38, /Users/sheadawson/Sites/compass2/themes/default/build/components/form/css/form.scss */
input.text, textarea, select {
  width: 100%;
  padding: 6px 5px;
  font-size: 15px;
  background-color: #fff;
  border: 1px solid #dad9d9; }
  /* line 44, /Users/sheadawson/Sites/compass2/themes/default/build/components/form/css/form.scss */
  input.text:focus, textarea:focus, select:focus {
    outline: none; }

/* line 49, /Users/sheadawson/Sites/compass2/themes/default/build/components/form/css/form.scss */
input[disabled], textarea[disabled] {
  background-color: #f7f7f7;
  border: 1px solid #dad9d9; }

/* line 54, /Users/sheadawson/Sites/compass2/themes/default/build/components/form/css/form.scss */
textarea {
  display: block;
  resize: vertical; }

/* Radio & checkbox inputs
----------------------------------------------- */
/* line 61, /Users/sheadawson/Sites/compass2/themes/default/build/components/form/css/form.scss */
input.checkbox, input.radio {
  float: left;
  width: 13px;
  height: 13px;
  margin: 8px 6px 0px 0;
  padding: 0; }

/* line 20, /Users/sheadawson/Sites/compass2/themes/default/node_modules/node-bourbon/node_modules/bourbon/app/assets/stylesheets/addons/_clearfix.scss */
div.checkbox::after, div.radio::after {
  clear: both;
  content: "";
  display: table; }

/* line 71, /Users/sheadawson/Sites/compass2/themes/default/build/components/form/css/form.scss */
div.checkbox input.checkbox, div.radio input.checkbox {
  margin-top: 0; }

/* line 74, /Users/sheadawson/Sites/compass2/themes/default/build/components/form/css/form.scss */
div.checkbox label.right, div.radio label.right {
  float: left; }

/* Radio / Checkbox */
/* line 81, /Users/sheadawson/Sites/compass2/themes/default/build/components/form/css/form.scss */
.checkboxset ul, .optionset ul {
  margin: 0; }
  /* line 83, /Users/sheadawson/Sites/compass2/themes/default/build/components/form/css/form.scss */
  .checkboxset ul li, .optionset ul li {
    margin-bottom: 5px;
    list-style-type: none; }

/* VALIDATION
----------------------------------------------- */
/* line 93, /Users/sheadawson/Sites/compass2/themes/default/build/components/form/css/form.scss */
.field .message.required {
  color: #b90808;
  margin: 5px 0;
  display: block; }

/* Actions
----------------------------------------------- */
/* line 101, /Users/sheadawson/Sites/compass2/themes/default/build/components/form/css/form.scss */
.Actions, .btn-row {
  margin: 10px 0; }
  /* line 20, /Users/sheadawson/Sites/compass2/themes/default/node_modules/node-bourbon/node_modules/bourbon/app/assets/stylesheets/addons/_clearfix.scss */
  .Actions::after, .btn-row::after {
    clear: both;
    content: "";
    display: table; }

/* Login Form
----------------------------------------------- */
/* line 108, /Users/sheadawson/Sites/compass2/themes/default/build/components/form/css/form.scss */
#Remember {
  min-height: 20px; }

/* line 112, /Users/sheadawson/Sites/compass2/themes/default/build/components/form/css/form.scss */
#ForgotPassword {
  clear: left; }

/* line 116, /Users/sheadawson/Sites/compass2/themes/default/build/components/form/css/form.scss */
#MemberLoginForm_LostPasswordForm .Actions:after {
  display: none; }

/* USER DEFINED USER FORM MODULE STYLES
----------------------------------------------- */
/*Generic and mixed*/
/* line 123, /Users/sheadawson/Sites/compass2/themes/default/build/components/form/css/form.scss */
.FormHeading {
  clear: both;
  padding-top: 15px; }

/* line 127, /Users/sheadawson/Sites/compass2/themes/default/build/components/form/css/form.scss */
form .date .middleColumn input {
  width: 114px; }

/* line 131, /Users/sheadawson/Sites/compass2/themes/default/build/components/form/css/form.scss */
.Actions input.resetformaction,
.Actions input.action-minor {
  /* Clear button */
  float: left;
  background-color: #888; }

/* line 138, /Users/sheadawson/Sites/compass2/themes/default/build/components/form/css/form.scss */
.Actions input.resetformaction:hover,
.Actions input.action-minor:hover {
  /* Clear button */
  background-color: #aaa; }

/* Labels */
/* line 146, /Users/sheadawson/Sites/compass2/themes/default/build/components/form/css/form.scss */
form .requiredField label.left:after,
form .field.required label.left:after {
  /* pseudo element adds an asterisk to a required fields label */
  color: #B94A48;
  content: "*";
  font-size: 14px;
  font-weight: normal;
  padding-left: 3px; }

/* Base 
-------------------------------------------- */
/* Colors 
-------------------------------------------- */
/* Breakpoints 
-------------------------------------------- */
/* Typography 
-------------------------------------------- */
/* Buttons
-------------------------------------------- */
/* Base 
-------------------------------------------- */
/* Colors 
-------------------------------------------- */
/* Breakpoints 
-------------------------------------------- */
/* Typography 
-------------------------------------------- */
/* Buttons
-------------------------------------------- */
/* Base 
-------------------------------------------- */
/* Colors 
-------------------------------------------- */
/* Breakpoints 
-------------------------------------------- */
/* Typography 
-------------------------------------------- */
/* Buttons
-------------------------------------------- */
/* Base 
-------------------------------------------- */
/* Colors 
-------------------------------------------- */
/* Breakpoints 
-------------------------------------------- */
/* Typography 
-------------------------------------------- */
/* Buttons
-------------------------------------------- */
/* Base 
-------------------------------------------- */
/* Colors 
-------------------------------------------- */
/* Breakpoints 
-------------------------------------------- */
/* Typography 
-------------------------------------------- */
/* Buttons
-------------------------------------------- */
/**
 * Typecsset
 *
 * Typecsset is a small, unopinionated library for creating beautifully set type
 * on the web. Typecsset gives perfect vertical rhythm at any configurable font
 * size, as well as many other typographical niceties.
 */
/*------------------------------------*\
    #SHARED
\*------------------------------------*/
/**
 * A lot of elements in Typecsset need to share some declarations (mainly for
 * vertical rhythm), so we `@extend` some silent classes.
 */
.col {
  float: left;
  width: 100%; }

.col_1 {
  width: 100%; }

.col_3 {
  width: 25%; }

.col_4 {
  width: 33.3%; }

.col_6 {
  width: 50%; }

.col_8 {
  width: 66.6%; }

.col_9 {
  width: 75%; }

.col_12 {
  width: 100%; }

.show_xsmall, .show_small, .show_medium, .show_large, .show_xlarge {
  display: none !important; }

@media (min-width: 451px) {
  .col_xsmall_3 {
    width: 25%; }

  .col_xsmall_4 {
    width: 33.3%; }

  .col_xsmall_6 {
    width: 50%; }

  .col_xsmall_8 {
    width: 66.6%; }

  .col_xsmall_9 {
    width: 75%; }

  .col_xsmall_12 {
    width: 100%; }

  .show_xsmall {
    display: block !important; }

  .hide_xsmall {
    display: none !important; }
 }

@media (min-width: 641px) {
  .col_small_3 {
    width: 25%; }

  .col_small_4 {
    width: 33.3%; }

  .col_small_6 {
    width: 50%; }

  .col_small_8 {
    width: 66.6%; }

  .col_small_9 {
    width: 75%; }

  .col_small_12 {
    width: 100%; }

  .show_small {
    display: block !important; }

  .hide_small {
    display: none !important; }
 }

@media (min-width: 769px) {
  .col_medium_3 {
    width: 25%; }

  .col_medium_4 {
    width: 33.3%; }

  .col_medium_6 {
    width: 50%; }

  .col_medium_8 {
    width: 66.6%; }

  .col_medium_9 {
    width: 75%; }

  .col_medium_12 {
    width: 100%; }

  .show_xsmall, .show_small, .show_medium {
    display: block !important; }

  .hide_xsmall, .hide_small, .hide_medium {
    display: none !important; }
 }

@media (min-width: 946px) {
  .col_large_3 {
    width: 25%; }

  .col_large_4 {
    width: 33.3%; }

  .col_large_6 {
    width: 50%; }

  .col_large_8 {
    width: 66.6%; }

  .col_large_9 {
    width: 75%; }

  .col_large_12 {
    width: 100%; }

  .show_xsmall, .show_small, .show_medium, .show_large {
    display: block !important; }

  .hide_xsmall, .hide_small, .hide_medium, .hide_large {
    display: none !important; }
 }

@media (min-width: 1136px) {
  .col_xlarge_3 {
    width: 25%; }

  .col_xlarge_4 {
    width: 33.3%; }

  .col_xlarge_6 {
    width: 50%; }

  .col_xlarge_8 {
    width: 66.6%; }

  .col_xlarge_9 {
    width: 75%; }

  .col_xlarge_12 {
    width: 100%; }

  .show_xsmall, .show_small, .show_medium, .show_large, .show_xlarge {
    display: block !important; }

  .hide_xsmall, .hide_small, .hide_medium, .hide_large, .hide_xlarge {
    display: none !important; }
 }

/* Colors 
-------------------------------------------- */
/* Breakpoints 
-------------------------------------------- */
/* Typography 
-------------------------------------------- */
/* Buttons
-------------------------------------------- */
/* Colors 
-------------------------------------------- */
/* Breakpoints 
-------------------------------------------- */
/* Typography 
-------------------------------------------- */
/* Buttons
-------------------------------------------- */
/* Colors 
-------------------------------------------- */
/* Breakpoints 
-------------------------------------------- */
/* Typography 
-------------------------------------------- */
/* Buttons
-------------------------------------------- */
/* line 3, /Users/sheadawson/Sites/compass2/themes/default/build/components/header/css/header.scss */
.header {
  background: #efefef; }

/* Colors 
-------------------------------------------- */
/* Breakpoints 
-------------------------------------------- */
/* Typography 
-------------------------------------------- */
/* Buttons
-------------------------------------------- */
/* Colors 
-------------------------------------------- */
/* Breakpoints 
-------------------------------------------- */
/* Typography 
-------------------------------------------- */
/* Buttons
-------------------------------------------- */
/* Colors 
-------------------------------------------- */
/* Breakpoints 
-------------------------------------------- */
/* Typography 
-------------------------------------------- */
/* Buttons
-------------------------------------------- */
/* line 3, /Users/sheadawson/Sites/compass2/themes/default/build/components/img/css/img.scss */
html.no-js .lazy {
  display: none; }

/* line 7, /Users/sheadawson/Sites/compass2/themes/default/build/components/img/css/img.scss */
img {
  max-width: 100%; }

/* line 11, /Users/sheadawson/Sites/compass2/themes/default/build/components/img/css/img.scss */
img.lazy_loaded, img.scale, svg {
  max-width: 100%;
  height: auto; }

/* line 16, /Users/sheadawson/Sites/compass2/themes/default/build/components/img/css/img.scss */
.sprite, .sprite_before:before, .sprite_after:after {
  background-image: url("../images/sprite.png"); }
  @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
    /* line 16, /Users/sheadawson/Sites/compass2/themes/default/build/components/img/css/img.scss */
    .sprite, .sprite_before:before, .sprite_after:after {
      background-image: url("../images/sprite_2x.png");
      background-size: 320px 268px; } }

/* Colors 
-------------------------------------------- */
/* Breakpoints 
-------------------------------------------- */
/* Typography 
-------------------------------------------- */
/* Buttons
-------------------------------------------- */
/* Colors 
-------------------------------------------- */
/* Breakpoints 
-------------------------------------------- */
/* Typography 
-------------------------------------------- */
/* Buttons
-------------------------------------------- */
/* Colors 
-------------------------------------------- */
/* Breakpoints 
-------------------------------------------- */
/* Typography 
-------------------------------------------- */
/* Buttons
-------------------------------------------- */
/* Desktop Menu
----------------------------------------------- */
/* line 6, /Users/sheadawson/Sites/compass2/themes/default/build/components/main_menu/css/main_menu.scss */
.main_menu {
  background: rgba(0, 0, 0, 0.5);
  height: 50px;
  display: none; }
  /* line 9, /Users/sheadawson/Sites/compass2/themes/default/build/components/main_menu/css/main_menu.scss */
  .main_menu .row {
    padding: 0; }
  /* line 13, /Users/sheadawson/Sites/compass2/themes/default/build/components/main_menu/css/main_menu.scss */
  .main_menu .menu {
    text-align: left;
    display: inline;
    margin: 0;
    padding: 15px 4px 17px 0;
    list-style: none; }
    /* line 19, /Users/sheadawson/Sites/compass2/themes/default/build/components/main_menu/css/main_menu.scss */
    .main_menu .menu > li > a:hover {
      background: rgba(255, 255, 255, 0.3);
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s; }
    /* line 27, /Users/sheadawson/Sites/compass2/themes/default/build/components/main_menu/css/main_menu.scss */
    .main_menu .menu > li.current > a {
      background: rgba(255, 255, 255, 0.4); }
    /* line 30, /Users/sheadawson/Sites/compass2/themes/default/build/components/main_menu/css/main_menu.scss */
    .main_menu .menu li {
      display: inline-block;
      margin-right: -4px;
      position: relative; }
      /* line 34, /Users/sheadawson/Sites/compass2/themes/default/build/components/main_menu/css/main_menu.scss */
      .main_menu .menu li a {
        text-decoration: none;
        font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
        padding: 15px 20px;
        color: #fff;
        display: block;
        min-height: 50px;
        font-size: 14px; }
      /* line 43, /Users/sheadawson/Sites/compass2/themes/default/build/components/main_menu/css/main_menu.scss */
      .main_menu .menu li ul {
        padding: 0;
        position: absolute;
        top: 50px;
        left: 0;
        width: 150px;
        height: 0;
        opacity: 0;
        visibility: hidden;
        z-index: 5;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s; }
        /* line 58, /Users/sheadawson/Sites/compass2/themes/default/build/components/main_menu/css/main_menu.scss */
        .main_menu .menu li ul li {
          display: block; }
          /* line 60, /Users/sheadawson/Sites/compass2/themes/default/build/components/main_menu/css/main_menu.scss */
          .main_menu .menu li ul li a {
            background: #114758;
            display: block;
            color: #fff; }
            /* line 65, /Users/sheadawson/Sites/compass2/themes/default/build/components/main_menu/css/main_menu.scss */
            .main_menu .menu li ul li a:hover {
              background: #155b72; }
      /* line 71, /Users/sheadawson/Sites/compass2/themes/default/build/components/main_menu/css/main_menu.scss */
      .main_menu .menu li:hover ul {
        height: auto;
        opacity: 1;
        visibility: visible; }
  @media (min-width: 769px) {
    /* line 6, /Users/sheadawson/Sites/compass2/themes/default/build/components/main_menu/css/main_menu.scss */
    .main_menu {
      display: block; } }

/* Mobile Menu
----------------------------------------------- */
/* line 88, /Users/sheadawson/Sites/compass2/themes/default/build/components/main_menu/css/main_menu.scss */
.slicknav_btn {
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  position: relative;
  display: block;
  vertical-align: middle;
  float: right;
  padding: 0.438em 0.625em 0.438em 0.625em;
  line-height: 1.125em;
  cursor: pointer; }

/* line 89, /Users/sheadawson/Sites/compass2/themes/default/build/components/main_menu/css/main_menu.scss */
.slicknav_menu .slicknav_menutxt {
  display: block;
  line-height: 1.188em;
  float: left; }

/* line 90, /Users/sheadawson/Sites/compass2/themes/default/build/components/main_menu/css/main_menu.scss */
.slicknav_menu .slicknav_icon {
  float: left;
  margin: 0.188em 0 0 0.438em; }

/* line 91, /Users/sheadawson/Sites/compass2/themes/default/build/components/main_menu/css/main_menu.scss */
.slicknav_menu .slicknav_no-text {
  margin: 0; }

/* line 92, /Users/sheadawson/Sites/compass2/themes/default/build/components/main_menu/css/main_menu.scss */
.slicknav_menu .slicknav_icon-bar {
  display: block;
  width: 1.125em;
  height: 0.125em;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px; }

/* line 93, /Users/sheadawson/Sites/compass2/themes/default/build/components/main_menu/css/main_menu.scss */
.slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar {
  margin-top: 0.188em; }

/* line 94, /Users/sheadawson/Sites/compass2/themes/default/build/components/main_menu/css/main_menu.scss */
.slicknav_nav {
  clear: both; }

/* line 95, /Users/sheadawson/Sites/compass2/themes/default/build/components/main_menu/css/main_menu.scss */
.slicknav_nav ul,
.slicknav_nav li {
  display: block; }

/* line 97, /Users/sheadawson/Sites/compass2/themes/default/build/components/main_menu/css/main_menu.scss */
.slicknav_nav .slicknav_arrow {
  font-size: 0.8em;
  margin: 0 0 0 0.4em; }

/* line 98, /Users/sheadawson/Sites/compass2/themes/default/build/components/main_menu/css/main_menu.scss */
.slicknav_nav .slicknav_item {
  display: block;
  cursor: pointer; }

/* line 99, /Users/sheadawson/Sites/compass2/themes/default/build/components/main_menu/css/main_menu.scss */
.slicknav_nav a {
  display: block; }

/* line 100, /Users/sheadawson/Sites/compass2/themes/default/build/components/main_menu/css/main_menu.scss */
.slicknav_nav .slicknav_item a {
  display: inline; }

/* line 101, /Users/sheadawson/Sites/compass2/themes/default/build/components/main_menu/css/main_menu.scss */
.slicknav_menu:before,
.slicknav_menu:after {
  content: " ";
  display: table; }

/* line 103, /Users/sheadawson/Sites/compass2/themes/default/build/components/main_menu/css/main_menu.scss */
.slicknav_menu:after {
  clear: both; }

/* line 105, /Users/sheadawson/Sites/compass2/themes/default/build/components/main_menu/css/main_menu.scss */
.slicknav_menu {
  font-size: 16px;
  display: block;
  position: relative; }
  @media (min-width: 769px) {
    /* line 105, /Users/sheadawson/Sites/compass2/themes/default/build/components/main_menu/css/main_menu.scss */
    .slicknav_menu {
      display: none; } }

/* line 114, /Users/sheadawson/Sites/compass2/themes/default/build/components/main_menu/css/main_menu.scss */
.slicknav_btn {
  text-decoration: none;
  background-color: #135165;
  z-index: 10;
  float: none;
  display: inline-block;
  overflow: hidden;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s; }

/* Button Text */
/* line 128, /Users/sheadawson/Sites/compass2/themes/default/build/components/main_menu/css/main_menu.scss */
.slicknav_menu .slicknav_menutxt {
  color: #fff; }

/* Button Lines */
/* line 132, /Users/sheadawson/Sites/compass2/themes/default/build/components/main_menu/css/main_menu.scss */
.slicknav_menu .slicknav_icon-bar {
  background-color: #f5f5f5; }

/* line 138, /Users/sheadawson/Sites/compass2/themes/default/build/components/main_menu/css/main_menu.scss */
.slicknav_nav {
  color: #fff;
  margin: 0;
  padding: 0;
  background: #135165; }

/* line 144, /Users/sheadawson/Sites/compass2/themes/default/build/components/main_menu/css/main_menu.scss */
.slicknav_nav, .slicknav_nav ul {
  list-style: none;
  overflow: hidden; }

/* line 148, /Users/sheadawson/Sites/compass2/themes/default/build/components/main_menu/css/main_menu.scss */
.slicknav_nav ul {
  padding: 0;
  margin: 0; }

/* line 152, /Users/sheadawson/Sites/compass2/themes/default/build/components/main_menu/css/main_menu.scss */
.slicknav_nav .slicknav_item {
  padding: 7px 15px;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s; }

/* line 156, /Users/sheadawson/Sites/compass2/themes/default/build/components/main_menu/css/main_menu.scss */
.slicknav_nav a {
  padding: 10px 15px;
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 17px; }

/* line 164, /Users/sheadawson/Sites/compass2/themes/default/build/components/main_menu/css/main_menu.scss */
.slicknav_nav .slicknav_item a {
  padding: 0;
  margin: 0; }

/* line 168, /Users/sheadawson/Sites/compass2/themes/default/build/components/main_menu/css/main_menu.scss */
.slicknav_nav .slicknav_item:hover {
  background: #0f4050; }

/* line 171, /Users/sheadawson/Sites/compass2/themes/default/build/components/main_menu/css/main_menu.scss */
.slicknav_nav a:hover {
  background: #0f4050;
  color: #fff; }

/* line 175, /Users/sheadawson/Sites/compass2/themes/default/build/components/main_menu/css/main_menu.scss */
.slicknav_nav .slicknav_txtnode {
  margin-left: 15px; }

/* line 179, /Users/sheadawson/Sites/compass2/themes/default/build/components/main_menu/css/main_menu.scss */
.slicknav_nav ul ul li a {
  padding-left: 25px; }

/* Colors 
-------------------------------------------- */
/* Breakpoints 
-------------------------------------------- */
/* Typography 
-------------------------------------------- */
/* Buttons
-------------------------------------------- */
/* Colors 
-------------------------------------------- */
/* Breakpoints 
-------------------------------------------- */
/* Typography 
-------------------------------------------- */
/* Buttons
-------------------------------------------- */
/* Colors 
-------------------------------------------- */
/* Breakpoints 
-------------------------------------------- */
/* Typography 
-------------------------------------------- */
/* Buttons
-------------------------------------------- */
/* line 3, /Users/sheadawson/Sites/compass2/themes/default/build/components/reject/css/reject.scss */
.reject {
  display: none;
  background-color: #de0202;
  width: 100%;
  position: fixed;
  top: 0; }
  /* line 10, /Users/sheadawson/Sites/compass2/themes/default/build/components/reject/css/reject.scss */
  .reject .reject_inner {
    position: relative;
    padding: 25px 20px; }
  /* line 15, /Users/sheadawson/Sites/compass2/themes/default/build/components/reject/css/reject.scss */
  .reject p {
    padding: 0;
    margin: 0;
    color: #fff; }
    /* line 19, /Users/sheadawson/Sites/compass2/themes/default/build/components/reject/css/reject.scss */
    .reject p.first {
      margin-bottom: 5px; }
  /* line 24, /Users/sheadawson/Sites/compass2/themes/default/build/components/reject/css/reject.scss */
  .reject a {
    font-weight: bold;
    color: #fff;
    text-decoration: underline; }
    /* line 28, /Users/sheadawson/Sites/compass2/themes/default/build/components/reject/css/reject.scss */
    .reject a:visited {
      color: #fff; }
    /* line 31, /Users/sheadawson/Sites/compass2/themes/default/build/components/reject/css/reject.scss */
    .reject a:hover {
      color: #fff; }
  /* line 36, /Users/sheadawson/Sites/compass2/themes/default/build/components/reject/css/reject.scss */
  .reject .reject_dismiss {
    position: absolute;
    top: 10px;
    right: 10px;
    text-indent: -9999px;
    height: 20px;
    width: 20px;
    background: url("../images/reject_dismiss.gif") no-repeat center center; }

/* line 47, /Users/sheadawson/Sites/compass2/themes/default/build/components/reject/css/reject.scss */
html.lte8 .reject {
  display: block; }

/* Colors 
-------------------------------------------- */
/* Breakpoints 
-------------------------------------------- */
/* Typography 
-------------------------------------------- */
/* Buttons
-------------------------------------------- */
/* Colors 
-------------------------------------------- */
/* Breakpoints 
-------------------------------------------- */
/* Typography 
-------------------------------------------- */
/* Buttons
-------------------------------------------- */
/* Colors 
-------------------------------------------- */
/* Breakpoints 
-------------------------------------------- */
/* Typography 
-------------------------------------------- */
/* Buttons
-------------------------------------------- */
/* line 3, /Users/sheadawson/Sites/compass2/themes/default/build/components/stage/css/stage.scss */
.stage_warning {
  background-color: rgba(222, 2, 2, 0.8);
  color: #fff;
  text-align: center;
  padding: 10px;
  bottom: 0;
  position: fixed;
  width: 100%; }
  /* line 11, /Users/sheadawson/Sites/compass2/themes/default/build/components/stage/css/stage.scss */
  .stage_warning a {
    text-decoration: underline;
    color: #fff; }
    /* line 14, /Users/sheadawson/Sites/compass2/themes/default/build/components/stage/css/stage.scss */
    .stage_warning a:hover {
      color: #fff;
      text-decoration: none; }
